* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: DejaVu Sans Mono, monospace;

  font-weight: 400;
  background-color: rgba(245, 245, 245, 1);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 5rem;
  border: 2px solid #d9d9d9;
}

.nav-container > form {
  width: 50%;
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem;

  align-items: center;
  justify-content: center;
}

.nav-container > form > input[type="text"] {
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #d9d9d9;
  font-family: DejaVu Sans Mono, monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 10%;
}

.main-container1 {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  gap: 1rem;
}

.real-time-stocks-container {
  max-width: 100%;
  height: auto;
  border: 2px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}

.real-time-stocks-titles {
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 240, 240, 1);
  border-bottom: 2px solid #d9d9d9;
  font-weight: bold; /* Titles stand out */
  text-align: left;
}
.stock-date {
  flex: 1;
  max-width: 20%;
  padding: 10px 0px 0px 10px;
  border-right: 2px solid #d9d9d9;
}

.stock-price {
  flex: 2;
  max-width: 20%;
  padding: 10px 0px 0px 10px;
  border-right: 2px solid #d9d9d9;
}

.stock-change {
  flex: 3;
  max-width: 20%;
  padding: 10px 0px 0px 10px;
  border-right: 2px solid #d9d9d9;
}

.stock-change-percentage {
  flex: 4;
  max-width: 20%;
  padding: 10px 0px 0px 10px;
  border-right: 2px solid #d9d9d9;
}
.stock-date:hover {
  text-overflow: clip;
  white-space: normal;
  background-color: #f5f5f5;
}

.stock-days-high-low {
  flex: 5;
  max-width: 20%;
  padding: 10px 0px 0px 10px;
  text-align: left;
}

.stock {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #d9d9d9;
  align-items: center;
  font-size: 0.8rem;
}
.line-chart-container {
  max-width: 100%;
  height: 30rem;
  border: 2px solid #d9d9d9;
}

.main-container2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 5%;
}
.news-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  border: 2px solid #d9d9d9;
}
.section-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 4px solid #d9d9d9;
  align-items: center;
}

.section-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.section-date {
  text-align: right;
}

.section-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 5rem;
  max-height: auto;
  gap: 2rem;
}
.section-news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  border: 2px solid #d9d9d9;
  padding: 1rem 1rem;
}
.section-news-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}
.section-news-item > h3 {
  border-bottom: 2px solid #d9d9d9;
  border-top: 2px solid #d9d9d9;
}
.section-news-item > p {
  text-align: justify;
}
.section-news-item > img {
  width: 300px;
  height: 150px;
}

.section-news-item-source {
  text-align: right;
  width: 100%;
}
.section-news-item-source > a {
  text-decoration: none;
  margin-top: 10px;
}
.myFirstChart {
  width: 100%;
  height: 300px;
}
